ItemLocator/obj/Debug/ItemLocator.csproj.FileListAbsolute.txt
ItemLocator/obj/Debug/ItemLocator.g.resources
ItemLocator/obj/Debug/ItemLocator_MarkupCompile.i.lref
ItemLocator/obj/Debug/MainWindow.baml
ItemLocator/obj/Debug/MainWindow.g.cs
ItemLocator/obj/Debug/MainWindow.g.i.cs
ItemLocator/obj/Debug/Results.g.cs
ItemLocator/obj/Debug/Results.g.i.cs
ItemLocator/obj/Debug/Search.baml
ItemLocator/obj/Debug/Search.g.cs
ItemLocator/obj/Debug/Search.g.i.cs
